*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #272727;
    color: yellowgreen;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
.main-container{
    
    flex: 1;
}

h1, p {
    padding: 1.5rem;
}

a{
    display: inline-block;
    text-decoration: none;
    color: crimson;
    padding: .5rem;
}

h1, h2{
    color: tomato;
}

.main-title{
    color: whitesmoke ;
    font-weight: bold;
    text-align: center;
}

footer{
    padding: 2rem;
    background-color: #121212;
    color: white;
    text-align: center;
}
